<%- include('header') -%>
<main>
    <h2>Ajout d'un administrateur</h2>
    <form method="post">
        <p>
            <label for="pseudo">Pseudo :</label>
            <input type="text" name="pseudo" id="pseudo">     
        </p>
        <p>
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password">   
        </p>
        <p>
            <label for="role">Role :</label>
            <input type="text" name="role" id="role">   
        </p>
        <p>
            <button type="submit">Enregistrer</button>
        </p>
    </form>
</main>
<%- include('footer') -%>