

<footer>
    
    <div class="infosSupplementaire">
        <div>
            <a href="/infos/mentionsLegales">Mentions légales</a>
            <a href="/infos/conditionsUtilisation">Conditions d'utilisation</a>
        </div>
        <div>
            <a href="/infos/politiqueConfidentialite">Politique de confidentialité</a>
            <a href="/infos/FAQ">FAQ</a>
        </div>
    </div>

</footer>



    </body>
    <script src="/jsScript/script.js"></script>
</html>
