<header>
    <div class="for-PC">
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/jeux">Histoire</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/forum">Forum</a></li>
                <li><a href="/shop">Boutique</a></li>
                <%  if (locals.isLogged !== true){ %>
                       <li><a href="/login">Connexion</a></li>
                <% } %>
                <%  if (locals.isLogged === true){ %>
                    <li><a href="/profil">Mon Profil</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
    <div class="for-mobile">
        <div class=menu-burger>
            <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
            <div class=mobile-burger-button>
            <label for="openSidebarMenu" class="sidebarIconToggle">
                <div class="spinner diagonal part-1"></div>
                <div class="spinner horizontal"></div>
                <div class="spinner diagonal part-2"></div>
            </label></div>
            <div class=mobile-accueil-button><a href="/">Accueil</a></div>
            <div class=mobile-login-button><%  if (locals.isLogged !== true){ %>
                       <a href="/login">Connexion</a>
                <% } %>
                <%  if (locals.isLogged === true){ %>
                    <a href="/profil">Mon Profil</a>
                <% } %></div>
            <div id="sidebarMenu">
                <ul class="sidebarMenuInner">
                    <li><a href="/jeux">Histoire</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/shop">Boutique</a></li>
                </ul>
            </div>
        </div>
        
            
    </div>
    
</header>

