<%- include('head') -%>
<%- include('header') -%>
<main class="jeux-main">
  <h1>Jeux</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/simple-slider/1.0.0/simpleslider.min.js"></script>

  <div class="slider">
        <div class="slide">
            <img src="/images/jeux/halo1.jpg" alt="Image 1">
            <p>Texte de la diapositive 1</p>
        </div>
        <div class="slide">
            <img src="/images/jeux/halo2.jpg" alt="Image 2">
            <p>Texte de la diapositive 2</p>
        </div>
        <div class="slide">
            <img src="/images/jeux/halo3.png" alt="Image 3">
            <p>Texte de la diapositive 3</p>
        </div>
    </div>
    <button id="prev">Précédent</button>
    <button id="next">Suivant</button>
  
  <script src="/js/script/jeux.js"></script>
</main>
<%- include('footer') -%>