<%- include('head') -%>
<%- include('header') -%>
<main class="jeux-main main-background">
  <h1>Jeux</h1>
    <section>
        <div class="slider-container">
            <div class="slider-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="slider">
                
                <div class="slide">
                    <img src="/images/jeux/halo1.webp" alt="Jaquette du jeu Halo : Combat Evolved">
                    <div class="slide-text">
                        <h2>Halo : Combat Evolved</h2>
                        <p>
                            Dans ce chef-d'œuvre fondateur, les joueurs incarnent le Master Chief, un super-soldat génétiquement modifié, dans sa lutte épique contre les forces extraterrestres connues sous le nom de Covenant sur l'anneau sacré, Halo. Le jeu a redéfini le genre du jeu de tir à la première personne avec son histoire captivante et ses batailles épiques.
                        </p>
                        <a href="jeux/halo1">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
                
                <div class="slide">
                    <img src="/images/jeux/halo2.webp" alt="Jaquette du jeu Halo 2">
                    <div class="slide-text">
                        <h2>Halo 2</h2>
                        <p>
                            Suite palpitante de la saga, Halo 2 plonge les joueurs au cœur du conflit entre l'Humanité et le Covenant. Avec une histoire complexe, des graphismes époustouflants, et l'introduction du mode multijoueur en ligne, ce jeu a laissé une marque indélébile dans l'histoire du jeu vidéo.
                        </p>                        
                        <a href="jeux/halo2">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
                
                <div class="slide">
                    <img src="/images/jeux/halo3.webp" alt="Jaquette du jeu Halo 3">
                    <div class="slide-text">
                        <h2>Halo 3</h2>
                        <p>
                            La conclusion épique de la trilogie originale, Halo 3 offre une expérience de jeu inoubliable avec des batailles à grande échelle, une histoire immersive, et une conclusion épique à l'histoire du Master Chief. Le mode multijoueur étendu a également marqué les esprits des fans.
                        </p>                        
                        <a href="jeux/halo3">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
                
                <div class="slide">
                    <img src="/images/jeux/haloWars.webp" alt="Jaquette du jeu Halo Wars">
                    <div class="slide-text">
                        <h2>Halo Wars</h2>
                        <p>
                            Sortant des sentiers battus, Halo Wars propose une expérience de stratégie en temps réel dans l'univers Halo. Les joueurs peuvent prendre le contrôle de l'UNSC ou du Covenant dans des batailles épiques.
                        </p>                        
                        <a href="jeux/haloWars">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
                
                <div class="slide">
                    <img src="/images/jeux/halo3ODST.webp" alt="Jaquette du jeu Halo 3 : ODST">
                    <div class="slide-text">
                        <h2>Halo 3 : ODST</h2>
                        <p>
                            Plongeant les joueurs dans l'univers de Halo d'une manière unique, ODST suit une escouade de soldats d'élite humains en tant que forces spéciales dans une Nouvelle Mombasa occupée par le Covenant. Ce spin-off apporte une nouvelle perspective à l'histoire globale de Halo.
                        </p>                        
                        <a href="jeux/halo3ODST">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
                
                <div class="slide">
                    <img src="/images/jeux/haloReach.webp" alt="Jaquette du jeu Halo Reach">
                    <div class="slide-text">
                        <h2>Halo Reach</h2>
                        <p>
                            Retraçant les événements tragiques sur la planète Reach, ce préquel captivant explore le destin de Noble Team. Avec une histoire sombre et des combats intenses, Halo: Reach offre une expérience poignante et mémorable.
                        </p>                        
                        <a href="jeux/haloReach">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
                
                <div class="slide">
                    <img src="/images/jeux/halo4.webp" alt="Jaquette du jeu Halo 4">
                    <div class="slide-text">
                        <h2>Halo 4</h2>
                        <p>
                            Le début d'une nouvelle trilogie, Halo 4 suit le Master Chief après les événements de la trilogie originale. Avec des graphismes époustouflants, une histoire complexe et un nouveau développement des personnages, ce jeu marque le début d'une nouvelle ère pour la série.
                        </p>                        
                        <a href="jeux/halo4">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
                
                <div class="slide">
                    <img src="/images/jeux/haloWars2.webp" alt="Jaquette du jeu Halo Wars 2">
                    <div class="slide-text">
                        <h2>Halo Wars 2</h2>
                        <p>
                            La suite de Halo Wars étend l'histoire et les batailles stratégiques à travers le cosmos. Avec des graphismes améliorés et des fonctionnalités de jeu étendues, Halo Wars 2 offre une expérience de stratégie immersive.
                        </p>                        
                        <a href="jeux/haloWars2">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
                
                <div class="slide">
                    <img src="/images/jeux/halo5.webp" alt="Jaquette du jeu Halo 5 : Guardians">
                    <div class="slide-text">
                        <h2>Halo 5 : Guardians</h2>
                        <p>
                            La quête pour trouver le Master Chief prend une tournure inattendue dans ce cinquième volet. Avec une intrigue complexe, des batailles spectaculaires, et une perspective changeante entre le Master Chief et le Spartan Locke, Halo 5 offre une expérience inédite.
                        </p>                        
                        <a href="jeux/halo5">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
                
                
                <div class="slide">
                    <img src="/images/jeux/haloInfinite.webp" alt="Jaquette du jeu Halo Infinite">
                    <div class="slide-text">
                        <h2>Halo Infinite</h2>
                        <p>
                            Le dernier opus de la série, Halo Infinite, promet de ramener la franchise à ses racines tout en introduisant de nouveaux éléments passionnants. Avec des graphismes de pointe et une histoire engageante, Infinite ouvre un nouveau chapitre dans l'univers Halo.
                        </p>                        
                        <a href="jeux/haloInfinite">En savoir plus</a>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrow left-arrow">&#9665;</div>
                        <div class="slider-arrow right-arrow">&#9655;</div>
                    </div>
                </div>
            </div>
        </div>
  </section>
  
  
  <script src="/jsScript/jeuxScript.js"></script>
</main>
<%- include('footer') -%>