<%- include('head') -%>
<%- include('header') -%>
<main class="shop-main">
  <div class="video">
    <video autoplay loop muted>
        <source src="/video/bg-mobile-shop.webm" type="video/webm">
        Votre navigateur ne supporte pas la lecture de vidéos.
    </video>
    </div>
    <h1>Boutique</h1>
    <h2>La boutique arriveras prochainement</h2>
</main>
<script src="/jsScript/shopScript.js"></script>
<%- include('footer') -%>