/* Vos styles CSS d'origine */
h1 {
    color: white;
    margin: 0;
    text-align: center;
}

h2, h3 {
    color: rgb(7, 8, 13);
}

h2 {
    text-align: center;
}

header {
    background: rgb(7, 8, 13);
}

header li {
    list-style-type: none;
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
}

header a {
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

/* PAGE ACCUEIL */

.index-main {
    background: rgb(7, 8, 13);
    background: linear-gradient(180deg, rgba(7, 8, 13, 1) 0%, rgba(44, 46, 69, 1) 57%);
}

section {
    background: rgb(74, 150, 214);
    background: radial-gradient(circle, rgba(74, 150, 214, 1) 0%, rgba(78, 152, 215, 1) 19%, rgba(83, 155, 216, 1) 41%, rgba(91, 160, 218, 1) 67%, rgba(98, 164, 220, 1) 76%, rgba(107, 169, 222, 1) 81%, rgba(112, 172, 223, 1) 87%, rgba(207, 224, 243, 1) 100%);
    width: 80%;
    padding: 20px;
    margin: 50px auto;
}

section a {
    color: white;
    text-decoration: none;
    color: #2C2E45;
}

section img {
    width: 80%;
    margin: auto;
}
