<%- include('../head') -%>
<%- include('../header') -%>
  <main class="jeux-halo-main main-background">
    <h1>Halo Wars 2</h1>
    <article class="article-jeux-halo">
        <img class="image" src="/images/jeux/haloWars2.webp" alt="Jaquette du jeu Halo Wars 2">
        <div class="text">
            <p>
                Développé par 343 Industries en collaboration avec Creative Assembly, est une suite attendue du jeu de stratégie en temps réel original qui a plongé les joueurs dans l'univers de Halo. Sorti en février 2017 sur Xbox One et Windows, le jeu continue de développer l'histoire de l'UNSC Spirit of Fire et de ses héros face à de nouvelles menaces.
            </p>
            <h2>Histoire</h2>
            <p>
                L'intrigue commence lorsque l'UNSC Spirit of Fire, un vaisseau de guerre humain, réapparaît après 28 années de communication perdue. L'équipage du Spirit of Fire, sous le commandement du capitaine James Cutter, est confronté à un monde mystérieux, l'Arche, une installation Forerunner que les fans de la série reconnaîtront comme étant le lieu central de la menace de l'anneau Halo. Cependant, ils découvrent que l'Arche est maintenant occupée par une faction redoutable connue sous le nom de "The Banished".
            </p>
            <p>
                The Banished sont dirigés par le puissant guerrier Atriox, un Jiralhanae (Brute) qui a autrefois servi les Covenants, mais a ensuite trahi l'Alliance en raison de son rejet des dirigeants prophètes. Il a rassemblé une armée formidable et est devenu une menace sérieuse dans la galaxie.

            </p>
            <p>
                L'histoire du jeu est révélée progressivement à travers une série de missions de campagne. Le capitaine Cutter, le professeur Ellen Anders et le sergent John Forge, avec l'aide de l'intelligence artificielle Isabel, doivent rassembler leurs forces pour faire face à cette nouvelle menace. Les forces du Spirit of Fire sont confrontées à une situation inattendue, car elles se retrouvent désormais engagées dans une lutte pour le contrôle de l'Arche.
            </p>
       
       </div>
    </article>
     <div class="divButtonRemonter">
        <button class="buttonRemonter" id="scrollToTopButton">⇧</button>
    </div>
    <script src="/jsScript/jeu.js"></script>
</main>

<%- include('../footer') -%>