<%- include('../head') -%>
<%- include('../header') -%>
  <main class="jeux-halo-main main-background">
    <h1>Halo Reach</h1>
    <article class="article-jeux-halo">
        <img class="image" src="/images/jeux/haloReach.webp" alt="Jaquette du jeu Halo Reach">
        <div class="text">
            <p>
                Développé par Bungie et édité par Microsoft Game Studios, Halo: Reach est un préquel de la série, sorti en septembre 2010 sur la Xbox 360. Il offre une perspective unique sur les événements cruciaux qui ont précédé la saga principale.
            </p>
            <h2>Une Préquelle Saisissante</h2>
            <p>
                Halo: Reach est un opus incontournable de la franchise, car il explore l'histoire de l'équipe Noble, une unité d'élite des Spartans, et leur rôle déterminant dans les derniers jours de la planète Reach, un bastion humain clé.
            </p>
            <h2>Histoire</h2>
            <p>
                Le jeu débute avec l'arrivée du Spartan Noble Six, le personnage principal, sur Reach, une planète stratégique clé. Il rejoint l'équipe Noble, composée du leader Carter, de Kat, Jorge, Emile et Jun. L'année est 2552, et l'invasion Covenant approche. Les joueurs sont immédiatement plongés dans l'action en enquêtant sur des signaux de détresse provenant de la base Sword, révélant l'ampleur de l'attaque Covenant. Reach, le joyau militaire de l'humanité, est sur le point de tomber.
            </p>
            <p>
                L'équipe Noble est rapidement déployée pour protéger l'Office of Naval Intelligence (ONI), où des données cruciales doivent être évacuées. C'est au cours de cette mission que Kat, un membre de l'équipe, est grièvement blessée, ce qui a un impact émotionnel sur le reste de l'unité. Les joueurs sont confrontés à des combats acharnés et à la nécessité de défendre l'ONI contre les forces Covenant.

            </p>
            <p>
                À mesure que la situation sur Reach se détériore, des villes entières sont réduites en cendres. L'équipe Noble est appelée à défendre la ville de New Alexandria contre l'invasion Covenant. L’équipe est témoin du chaos et de la destruction, se frayant un chemin à travers des rues dévastées et combattant pour protéger la population tandis que les airs sont remplis de combats épiques entre vaisseaux spatiaux.
            </p>
            <p>
                L'unité Noble reçoit l'ordre d'inspecter le site de largage de l'ONI, où ils découvrent que les Covenants recherchent quelque chose de précieux. De plus, ils sont confrontés à de nouveaux ennemis, les Skirmishers, des adversaires agiles et rusés. Ils doivent lutter pour protéger le site tout en enquêtant sur le mystère de l'objet convoité par les Covenants.

            </p>
            <p>
               L'équipe Noble lance l'opération "UPPERCUT", une mission audacieuse pour détruire un super-porteur Covenant dans l'atmosphère de Reach. Jorge, l'un des membres de l'équipe, se sacrifie héroïquement pour accomplir cette tâche périlleuse. C’est un moment émotionnel alors qu'ils voient Jorge se sacrifier pour la cause, sachant que leur mission est essentielle à la survie de Reach.

            </p>
            <p>
                L'unité Noble est chargée de défendre le dernier bastion de l'UNSC, une installation appelée “l'Épée d'Été". Les joueurs sont confrontés à des vagues incessantes d'ennemis Covenant, luttant pour tenir la position aussi longtemps que possible. L'équipe fait tout son possible pour défendre Reach, même s'il semble que la situation soit désespérée.

            </p>
            <p>
                L'équipe Noble se prépare pour un dernier affrontement, sachant que Reach est sur le point de tomber. Les joueurs combattent pour protéger l'évacuation et assurent la sécurité du Pillar of Autumn alors qu'il quitte Reach. L'histoire atteint son apogée lorsque Reach est détruite, mais l'héroïsme de l'équipe Noble perdure. La planète est dévastée par les Covenants, et le sacrifice des membres de l'équipe est la dernière ligne de défense de l'humanité.

            </p>
            <p>
                Le jeu se termine sur une note poignante alors que le Spartan Noble Six se sacrifie pour permettre l'évacuation du Pillar of Autumn. Les joueurs sont témoins de la résolution inébranlable de Noble Six face à une fin inévitable, protégeant l'humanité jusqu'à son dernier souffle. C'est un acte d'héroïsme désintéressé qui résonne dans tout l'univers de Halo, rappelant que même face à l'adversité, l'humanité et ses héros se battent jusqu'au bout.

            </p>

       
       </div>
    </article>
     <div class="divButtonRemonter">
        <button class="buttonRemonter" id="scrollToTopButton">⇧</button>
    </div>
</main>

<%- include('../footer') -%>