<%- include('../head') -%>
<%- include('../header') -%>
  <main class="jeux-halo-main main-background">
    <h1>Halo Wars</h1>
    <article class="article-jeux-halo">
        <img class="image" src="/images/jeux/haloWars.webp" alt="Jaquette du jeu Halo Wars">
        <div class="text">
            <p>
                Développé par Ensemble Studios et édité par Microsoft Game Studios, Halo Wars est un jeu de stratégie en temps réel sorti en 2009 sur Xbox 360 et plus tard sur PC. Contrairement aux autres titres de la franchise, qui sont principalement des jeux de tir à la première personne, Halo Wars propose une expérience de jeu différente, plongeant les joueurs dans le monde de Halo d'un tout autre point de vue.
            </p>
            <h2>Un Nouveau Genre pour un Univers Familier</h2>
            <p>
                Halo Wars représente un changement audacieux pour la série. Il s'agit du premier jeu de stratégie en temps réel de Halo, offrant une perspective plus globale de l'univers de la franchise. Les joueurs assument le rôle de commandants militaires chargés de gérer les forces humaines dans la lutte contre l'Alliance Covenante, une race extraterrestre hostile.
            </p>
            <h2>Histoire</h2>
            <p>
                L'histoire d'Halo Wars se déroule dans un avenir lointain, alors que l'humanité s'est étendue à travers la galaxie en colonisant diverses planètes. L'une de ces colonies, Harvest, devient le théâtre d'un conflit épique entre l'humanité et une alliance extraterrestre redoutable appelée les Covenants. Ces Covenants sont obsédés par la découverte et l'activation d'anciennes installations extraterrestres connues sous le nom de Halos, qui ont le pouvoir de détruire toute forme de vie dans la galaxie. La lutte pour le contrôle de ces Halos devient le point central du conflit.
            </p>
            <p>
                Le joueur prend le commandement de l'UNSC (United Nations Space Command) et du Spirit of Fire, un puissant vaisseau de guerre, sous la direction du capitaine James Cutter. L'histoire commence par une série d'attaques Covenant sur la colonie de Harvest, ce qui incite le capitaine Cutter et son équipage à s'engager dans une mission désespérée pour protéger la colonie et comprendre les intentions des Covenants.

            </p>
            <p>
                Le joueur est chargé de rassembler et de coordonner les forces terrestres et aériennes de l'UNSC, y compris les vaillants Marines, les redoutables Spartans, et divers véhicules de guerre, pour contrer l'avancée Covenant. La gestion des ressources, la planification stratégique et la tactique sont essentielles pour mener à bien chaque mission.
            </p>
            <p>
                Au fur et à mesure que l'histoire progresse, le capitaine Cutter et son équipe découvrent l'existence de la professeure Ellen Anders, une archéologue renommée, dont les recherches sur une ancienne technologie extraterrestre attirent l'attention des Covenants. Les Covenants cherchent désespérément à activer le Halo, une installation mystérieuse aux pouvoirs dévastateurs.

            </p>
            <p>
               La coopération entre le capitaine Cutter, le professeur Anders, et l'intelligence artificielle Serina devient essentielle pour déchiffrer les secrets du Halo et empêcher sa mise en marche. Cependant, les Covenants, dirigés par des chefs féroces tels que le Prophète de l'Obédience et l'Arbiter, ne reculent devant rien pour atteindre leurs objectifs fanatiques.

            </p>
            <p>
                Les joueurs sont confrontés à une série de missions épiques, de la défense de Harvest à l'exploration de nouvelles planètes et à des affrontements avec les Covenants. Chaque mission offre des défis uniques et des moments cinématiques impressionnants qui contribuent à tisser une histoire immersive.

            </p>
            <p>
                Les tensions montent alors que l'humanité et les Covenants se livrent à une course désespérée pour le contrôle du Halo. Les sacrifices héroïques et les choix difficiles du capitaine Cutter et de son équipage sont au cœur de l'histoire, dépeignant le prix de la guerre et de la survie de l'humanité.

            </p>
            <p>
                La bataille finale pour empêcher les Covenants d'activer le Halo a lieu sur une installation extraterrestre située sur une autre planète. Le joueur doit faire preuve de toute sa stratégie et de sa ruse pour vaincre les forces Covenant et faire face à un danger encore plus grand lié à la technologie du Halo.

            </p>
            

       
       </div>
    </article>
     <div class="divButtonRemonter">
        <button class="buttonRemonter" id="scrollToTopButton">⇧</button>
    </div>
</main>

<%- include('../footer') -%>