<%- include('../head') -%>
<%- include('../header') -%>
  <main class="jeux-halo-main main-background">
    <h1>Halo Infinite</h1>
    <article class="article-jeux-halo">
        <img class="image" src="/images/jeux/haloInfinite.webp" alt="Jaquette du jeu Halo Infinite">
        <div class="text">
            <p>
                Développé par 343 Industries et édité par Microsoft Studios, Halo Infinite est la dernière itération de la franchise emblématique, sortie en décembre 2021 sur diverses plates-formes, y compris la Xbox Series X/S et Microsoft Windows. Le jeu présente une nouvelle aventure dans l'univers de Halo, mettant en vedette le Master Chief, l'emblématique Spartan.
            </p>
            <h2>Le Retour du Master Chief</h2>
            <p>
                Halo Infinite ramène le légendaire Spartan Master Chief au centre de la scène, offrant aux fans une occasion de retrouver leur héros emblématique. L'histoire se déroule sur un nouvel anneau Halo, ouvert et immense, offrant un monde de jeu en monde ouvert pour la première fois dans la série.
            </p>
            <h2>Histoire</h2>
            <p>
                L'histoire commence en 2559, lorsque l'UNSC Infinity est attaquée par une faction connue sous le nom de Parias, dirigée par le redoutable Atriox. Lors de l'assaut, le Major, alias John-117, est confronté à Atriox et est vaincu, avant d'être jeté dans l'espace.
            </p>
            <p>
                Six mois plus tard, le Major est récupéré à la dérive par le pilote du Pélican Echo 216. Ils découvrent que l'UNSC Infinity a été vaincue par les Parias. Alors que le Major cherche à comprendre la situation, le Pélican est capturé par le vaisseau paria Ghost of Gbraakon, qui recycle des débris spatiaux à proximité. Pour sauver Echo 216, le Major décide de prendre d'assaut le vaisseau paria.

            </p>
            <p>
                À bord du vaisseau ennemi, le Major assiste à une cérémonie funèbre d'Atriox, dirigée par Escharum, un dirigeant paria, qui annonce les intentions de prendre le contrôle du Halo Zêta. Cependant, sans une IA pour pirater le vaisseau, le Major provoque une surcharge des réacteurs. Escharum contacte le Major et l'invite à l'affronter dignement. Le Major et Echo 216 parviennent à quitter de justesse le Gbraakon, mais le Spartan capte un signal mentionnant une "arme."
            </p>
            <p>
                À bord d'Echo 216, le Major recherche l'UNSC Infinity, mais ne trouve que les puces IFF de l'équipage de l'Infinity décédé dans l'espace. Ils parviennent à trianguler la source du mystérieux signal et découvrent l'Arme, une IA qui ressemble à Cortana. 
            </p>
            <p>
               L'Arme explique qu'elle était chargée de capturer Cortana en imitant son apparence, mais la mission a échoué. Le Major refuse de détruire l'Arme et décide de la garder à ses côtés pour contrer les plans des Parias.

            </p>
            <p>
                Au fur et à mesure que l'histoire progresse, le Major et l'Arme explorent le Halo Zêta, découvrant des indices sur les plans des Parias et les secrets de Cortana. Ils affrontent des ennemis et résolvent des énigmes, tout en faisant face aux souvenirs douloureux de la perte de Cortana.

            </p>
            <p>
                Le Major et l'Arme se dirigent vers l'Auditorium silencieux, un lieu d'importance cruciale sur l'anneau, où l'Augure, un leader paria, cherche à atteindre ses objectifs. Ils combattent les forces parias, déchiffrent des codes et explorent les mémoires de Cortana, révélant sa complexité et ses actions controversées.

            </p>
            <p>
                Finalement, le Major et l'Arme confrontent l'Augure dans l'Auditorium silencieux. Une bataille épique s'ensuit, et le Major triomphe de l'Augure, qui laisse derrière elle un mystérieux signal.

            </p>
            <p>
                La cinématique post-crédits suggère que l'histoire de l'univers Halo n'est pas encore terminée, laissant place à de futures aventures et révélations.

            </p>

       
       </div>
    </article>
     <div class="divButtonRemonter">
        <button class="buttonRemonter" id="scrollToTopButton">⇧</button>
    </div>
    <script src="/jsScript/jeu.js"></script>
</main>

<%- include('../footer') -%>