<%- include('../head') -%>
<%- include('../header') -%>
  <main class="jeux-halo-main main-background">
    <h1>Halo 4</h1>
    <article class="article-jeux-halo">
        <img class="image" src="/images/jeux/halo4.webp" alt="Jaquette du jeu Halo 4">
        <div class="text">
            <p>
                Développé par 343 Industries et édité par Microsoft Studios, Halo 4 marque le début d'une nouvelle saga dans l'univers de Halo. Sorti en novembre 2012 sur la Xbox 360, il introduit de nouveaux éléments tout en continuant l'histoire du Master Chief.
            </p>
            <h2>Le Retour du Master Chief</h2>
            <p>
                Après une attente prolongée depuis la fin de la trilogie originale, les fans étaient impatients de retrouver le Master Chief dans de nouvelles aventures. Halo 4 répond à cette attente en offrant une expérience qui combine habilement la nostalgie de la saga précédente avec des éléments frais et innovants.
            </p>
            <h2>Histoire</h2>
            <p>
                Dans une galaxie lointaine, le Master Chief, se réveille de sa cryo-sieste à bord de l'UNSC Forward Unto Dawn. Il est accompagné de Cortana. Les deux se trouvent dans une situation désespérée. Ils dérivent dans un vaisseau gravement endommagé, l’environnement est chargé de mystère et d'incertitude.
            </p>
            <p>
                Le Master Chief, habitué à se battre contre les covenants ou le flood va être confronté cette fois-ci à quelque chose de nouveau. Le vaisseau spatial flotte en orbite autour d'une étrange installation Forerunner appelée Requiem, dont les intentions et les dangers sont encore inconnus.

            </p>
            <p>
                Après avoir quitté le vaisseau, le Master Chief et Cortana sont attaqués par une force inconnue et technologiquement avancée appelée les Prométhéens. Les Prométhéens semblent surgir de nulle part, utilisant des armes et des tactiques étranges. Le combat est rude, mais le Master Chief parvient à repousser l'attaque et à trouver refuge à bord de l'Infinity, un gigantesque vaisseau spatial de l'UNSC.
            </p>
            <p>
                Là, il fait la connaissance du commandant Thomas Lasky et de l'IA de bord, qui deviennent des alliés précieux dans sa quête pour comprendre la menace des Prométhéens et du Didacte, un ancien Forerunner qui semble être à leur tête. Le Master Chief est déterminé à découvrir ce qui se trame et à l'arrêter, quelle que soit la menace qui pèse sur l'humanité.

            </p>
            <p>
               De retour sur Requiem, le Master Chief et Cortana continuent leur exploration de l'installation Forerunner. Ils découvrent des indices sur les motivations du Didacte et sur son intention d'utiliser une arme destructrice appelée la "Composante Didacte" pour éliminer l'humanité. Les enregistrements audio trouvés sur l'installation révèlent des détails sur le conflit entre les Forerunners et les humains dans le passé, élargissant l'univers de Halo.

            </p>
            <p>
                Mais la mission n'est pas sans son lot de défis. Requiem est une installation en constante évolution, avec des couloirs qui se déforment et des ennemis Prométhéens qui se dressent sur leur chemin. Le Master Chief et Cortana doivent faire preuve de ruse et d'ingéniosité pour progresser.

            </p>
            <p>
                De retour sur l'UNSC Infinity, le Master Chief participe à la traque du Didacte. Il interagit avec l'équipage de l'Infinity, apprenant à connaître le commandant Lasky et d'autres membres de l'équipe. L'unité contre la menace commune du Didacte renforce les liens entre les personnages, créant un sentiment de camaraderie au milieu du danger.

            </p>
            <p>
                De retour sur Requiem, le Master Chief poursuit sa quête pour arrêter le Didacte. Les combats contre les Prométhéens deviennent plus ardus, avec des affrontements aériens en Warthog et l'exploration d'anciennes installations Forerunner. Le joueur est confronté à des ennemis plus redoutables que jamais, mais le Master Chief est déterminé à les affronter.

            </p>
            <p>
                Mais l'une des missions les plus marquantes est la neuvième, où le joueur découvre la détérioration progressive de Cortana. L'IA qui a été le compagnon fidèle du Master Chief depuis tant d'années montre des signes de dégradation mentale due à sa longue période d'activité. Le joueur ressent la détresse du Master Chief alors qu'il cherche à sauver son amie et à accomplir sa mission.

            </p>
            <p>
                La confrontation finale avec le Didacte a lieu sur Terre, où il tente d'activer la Composante Didacte pour éliminer l'humanité. La mission est épique, avec des combats contre le Didacte lui-même et ses forces redoutables. Le joueur ressent la gravité de la situation alors que l'humanité est en jeu. Les dialogues entre le Master Chief et le Didacte ajoutent une profondeur au personnage de l'antagoniste, révélant ses motivations et ses croyances.

            </p>
            <p>
                La mission finale les conduit dans l'Au-Delà, une dimension où le Didacte prévoit d'activer la Composante Didacte. Le Master Chief et Cortana sont en course contre la montre, affrontant des vagues d'ennemis Prométhéens et surmontant des obstacles pour atteindre leur objectif. La tension est à son comble alors que le sort de l'humanité est en jeu.

            </p>
            <p>
                Le jeu se termine par une séquence cinématique émotionnelle alors que Cortana se sacrifie pour sauver le Master Chief en restant à bord de l'installation au moment de sa destruction. C'est un acte héroïque et déchirant qui laisse le Master Chief seul et désemparé. Il est finalement secouru par des forces humaines, mais l'avenir reste incertain.

            </p>

       
       </div>
    </article>
     <div class="divButtonRemonter">
        <button class="buttonRemonter" id="scrollToTopButton">⇧</button>
    </div>
    <script src="/jsScript/jeu.js"></script>
</main>

<%- include('../footer') -%>