<%- include('../head') -%>
<%- include('../header') -%>
<main class="infosLegales-main white-background">
    <h1>Conditions d'Utilisation de Projet Halo</h1>
    <h2>Dernière mise à jour : 30/10/2023</h2>
    <div>
        <h2>Informations sur l'entité responsable :</h2>
        <p>Responsable du site : Ewan GIRODON</p>
        <p>Adresse : 18 Avenue Robert Chasteland</p>
        <p>Adresse e-mail : ewan.girodon01@gmail.com</p>
        <p>Numéro de téléphone : 0664091488</p>
    </div>
    <div>
        <h2>Objectif du site :</h2>
        <p>Projet Halo est un site web dédié à l'univers du jeu vidéo Halo. Notre objectif est de fournir une plateforme communautaire pour les fans passionnés de la franchise Halo. Nous souhaitons créer un espace où les fans peuvent discuter, partager des informations et célébrer l'univers de Halo.</p>
    </div>
    <div>
        <h2>Conditions d'utilisation générales :</h2>
        <p>Age minimum : Vous devez avoir au moins 16 ans pour utiliser ce site, en accord avec la classification PPEFI des jeux Halo.</p>
        <p>Respect : Les utilisateurs sont tenus de respecter les règles suivantes :</p>
        <ul>
            <li><p>Pas d'insulte, de langage offensant ou de harcèlement envers d'autres utilisateurs.</p></li>
            <li><p>Pas de discours de haine, de racisme, d'homophobie ou de toute forme de discrimination.</p></li>
            <li><p>Pas de spam, de publicité non autorisée ou de messages répétitifs.</p></li>
            <li><p>Pas de contenu illégal, diffamatoire ou inapproprié.</p></li>
        </ul>
        
        <p>Les administrateurs se réservent le droit de prendre des mesures, y compris la modification et la suppression des messages jusqu'à la suspension des comptes concernés, en cas de non-respect de ces règles.</p>
    </div>
    <div>
        <h2>Comptes d'utilisateur :</h2>
        <p>La création de comptes d'utilisateur est autorisée pour participer pleinement à notre communauté.</p>
        <p>Les utilisateurs peuvent modifier leurs données depuis leur profil.</p>
        <p>En cas de perte d'accès à un compte, veuillez contacter le site via l'adresse e-mail fournie.</p>
    </div>
    <div>
        <h2>Propriété intellectuelle :</h2>
        <p>Tous les droits de propriété intellectuelle associés au contenu du site (textes, images, vidéos, etc.) sont réservés et protégés conformément à la loi.</p>
        <p>Les utilisateurs sont tenus de respecter les droits d'auteur et de ne pas reproduire, distribuer ou utiliser le contenu du site sans autorisation.</p>
    </div>
    <div>
        <h2>Politique de confidentialité :</h2>
        <p>Pour plus d'informations sur la collecte, l'utilisation et la protection de vos données personnelles, veuillez consulter notre Politique de Confidentialité <a href="/infos/politiqueConfidentialite">ici</a>.</p>    
    </div>
    <div>
        <h2>Suppression du compte :</h2>
        <p>Pour toute demande de récupération de compte ou d'assistance, veuillez nous contacter via l'adresse e-mail fournie.</p>    
    </div>
    <div>
        <h2>Limitation de responsabilité :</h2>
        <p>Nous déclinons toute responsabilité en cas de dommages, de pertes ou de litiges découlant de l'utilisation de ce site. Les utilisateurs utilisent le site à leurs propres risques.</p>    
    </div>
    <div>
        <h2>Modifications des Conditions d'Utilisation :</h2>
        <p>S'il y a des modifications apportées aux conditions d’utilisations, chaque utilisateur sera invité à les accepter de lors de leurs prochaine connexion.</p>    
    </div>
    <div>
        <h2>Divers :</h2>
        <p>Tout acte abusif allant contre la loi, y compris le non-respect des règles énoncées dans ces Conditions d'Utilisation, peut faire l'objet d'un signalement aux autorités compétentes.</p>    
    </div>
</main>
<script src="/jsScript/newsScript.js"></script>
<%- include('../footer') -%>