<%- include('../head') -%>
<%- include('../header') -%>
<main class="infosLegales-main white-background">
    <h1>FAQ</h1>
    <div>
        <h2>Qu'est-ce que Projet Halo ?</h2>
        <p>Projet Halo est un site web communautaire dédié à la franchise de jeux vidéo Halo. Notre objectif est de rassembler les fans de Halo pour discuter, partager des informations et célébrer cet univers de science-fiction épique.</p>
    </div>
    <div>
        <h2>Comment puis-je m'inscrire sur Projet Halo ?</h2>
        <p>Pour vous inscrire sur Projet Halo, cliquez <a href="/login">ici</a>, puis cliquez sur “Inscrivez-vous !”.</p>
    </div>
    <div>
        <h2>Quels sont les avantages de l'inscription ?</h2>
        <p>En tant que membre inscrit, vous pouvez participer aux discussions sur notre forum, personnaliser votre profil, suivre les sujets qui vous intéressent, et interagir avec d'autres fans de Halo.</p>
    </div>
    <div>
        <h2>Quelles sont les règles de comportement sur le forum de Projet Halo ?</h2>
        <p>Nous attendons de nos membres qu'ils se comportent de manière respectueuse envers les autres utilisateurs. L'insulte, l'irrespect, le langage offensant, le harcèlement et la discrimination ne sont pas tolérés. Consultez nos Conditions d'Utilisation pour plus de détails. (lien)</p>
    </div>
    <div>
        <h2>Comment puis-je signaler un contenu inapproprié ou des abus sur le site ?</h2>
        <p>Si vous trouvez un contenu inapproprié ou si vous êtes témoin d'abus, contactez notre équipe de modération via "ewan.girodon01@gmail.com.".</p>
    </div>
    <div>
        <h2>Comment puis-je contacter l'équipe de Projet Halo pour des questions ou des préoccupations ?</h2>
        <p>Pour toute question ou préoccupation, vous pouvez nous contacter via "ewan.girodon01@gmail.com".</p>
    </div>
    <div>
        <h2>Puis-je suggérer des fonctionnalités ou des améliorations pour le site ?</h2>
        <p>Absolument ! Nous apprécions les commentaires de nos utilisateurs. N'hésitez pas à nous faire part de vos suggestions via notre ewan.girodon01@gmail.com.</p>
    </div>
    <div>
        <h2>Où puis-je trouver plus d'informations sur l'univers de Halo ?</h2>
        <p>Vous pouvez consulter nos pages expliquant l’histoire des jeux Halos <a href="/jeux">ici</a> ou bien explorer notre forum <a href="/forum">ici</a> où de nombreux fans partagent des informations, ou encore consulter les sites officiels de la franchise Halo pour des ressources supplémentaires.</p>
    </div>
</main>
<script src="/jsScript/newsScript.js"></script>
<%- include('../footer') -%>