<%- include('../head') -%>
<%- include('../header') -%>
<main class="infosLegales-main white-background">
    <h1>Infos Légales</h1>
    <nav>
        <ul>
            <li><a href="/infos/mentionsLegales">Mentions légales</a></li>
            <li><a href="/infos/conditionsUtilisation">Conditions d'utilisation</a></li>
            <li><a href="/infos/politiqueConfidentialite">Politique de confidentialité</a></li>
            <li><a href="/infos/FAQ">FAQ</a></li>
        </ul>
    </nav>
    
</main>
<script src="/jsScript/newsScript.js"></script>
<%- include('../footer') -%>