<%- include('../head') -%>
<%- include('../header') -%>
<main class="infosLegales-main white-background">
    <h1>Mentions Légales</h1>
    <div>
        <h2>Informations sur l'entité responsable :</h2>
        <p>Responsable du site : Ewan GIRODON</p>
        <p>Adresse : 18 Avenue Robert Chasteland</p>
        <p>Adresse e-mail : ewan.girodon01@gmail.com</p>
        <p>Numéro de téléphone : 0664091488</p>
    </div>
    <div>
        <h2>Hébergeur du site :</h2>
        <p>Nom de l'hébergeur : 3WA Live IDE</p>
        <p>Adresse : 44 Rue de Strasbourg, 44000 Nantes</p>
        <p>Numéro de téléphone : 0176401159</p>
    </div>
    <div>
        <h2>Propriété intellectuelle :</h2>
        <p>Les images du site ont été créées par Océane COLIN. Tous droits réservés. Pour toute utilisation des images, veuillez contacter l'auteur <a href="https://fr.linkedin.com/in/oc%C3%A9ane-colin">ici</a>.</p>
    </div>
    <div>
        <h2>Liens vers les politiques de confidentialité et les Conditions d'Utilisation :</h2>
        <a href="/infos/politiqueConfidentialite">Politique de Confidentialité</a>
        <a href="/infos/conditionsUtilisation">Conditions d'Utilisation</a>
    </div>
</main>
<script src="/jsScript/newsScript.js"></script>
<%- include('../footer') -%>